<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
           
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/teacher_scheduler</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
      
        <!-- JDBC connection pool(use the built-in) -->
        <property name="hibernate.connection.pool_size">1</property>
       
       	<!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
       
        <property name="hibernate.connection.release_mode">after_statement</property>    
       
      	<!-- Disable the second-level cache -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
       
        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property> <!-- wynik pokazywany w konsoli -->
       
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property> <!-- create - nadpisywanie, update - dopisywanie -->
        
        <!-- Batch size -->
        <property name="hibernate.jdbc.batch_size">5</property>
       
        <!-- Names the annotated entity class -->
        <mapping class="com.scheduler.hibernate.dto.User" />
        <mapping class="com.scheduler.hibernate.dto.Term" />
        <mapping class="com.scheduler.hibernate.dto.Group" />
        <mapping class="com.scheduler.hibernate.dto.GroupUser" />
		<mapping class="com.scheduler.hibernate.dto.Mail" />
		<mapping class="com.scheduler.hibernate.dto.Chat" />
		<mapping class="com.scheduler.hibernate.dto.ChatMess" />
		<mapping class="com.scheduler.hibernate.dto.FileUpload" />
    </session-factory>
</hibernate-configuration>